<h1> ToDo: <%= "#{@task.name}" %></h1>
<%= image_tag @task.photo %>
<br>
<br>
<h4> Top 5 primeros usuarios que finalizaron actividad: </h4>

<% @task.lists.order(updated_at: :desc).take(5).each do |list| %>
  <% if list.done %>
    <%= list.user.email %>
    <%= image_tag list.user.photo %>
  <% end %>
  <br>
<% end %>

<br>
<br>

<h4> Total de usuarios que finalizaron actividad: </h4>
<% @task.lists.each do |list| %>
  <% if list.done == true %>
  <%= list.user.email %>
  <br>
  <% end %>
<% end %>
